<launch>
	<include file = "$(find pointgrey_camera_driver)/launch/camera.launch">
		<arg name="calibrated" value ="1"/>
		<arg name="camera_serial" value= "rrl2"/>
	</include>
	<group ns="camera">
		<node name ="rectifier" pkg = "image_proc" type ="image_proc">
		</node>
	</group>	
	<node name="camgui" pkg="rqt_gui" type="rqt_gui"/>
	<node name ="circletracker" pkg="iros18_vision" type="iros18_vision_tracker">
		<param name = "number_of_waypoints" value = "8"/>
		<param name ="circle" value = "false"/>
		<param name ="contour" value = "true"/>
		<param name = "roi_l" value = "450"/>
		<param name = "roi_r" value = "950"/>
		<param name = "roi_u" value = "300"/>
		<param name = "roi_b" value = "700"/>
	</node>
</launch>

